@import "../../../styles/mixins";
@import "../../../styles/colors";

.user__books {
  a {
    color: inherit;
    text-decoration: none;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  .book__details {
    @include flexBox(left, cennter);
    gap: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 0.8rem;
    img {
      width: 90px;
      height: 100px;
    }
    p {
      margin-top: 0.2rem;
      color: #666;
      b {
        color: $mainColor;
      }
    }
  }
}
