@import "../../styles/mixins";
@import "../../styles/colors";

.hero {
  background: url("../../assets/bookback.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: -1;
  }
  .modal {
    text-align: center;
    position: relative;
    left: 23rem;
    display: none;
    z-index: 200;
    @include mQ(600px) {
      &.active {
        left: 0;
        display: block;
      }
    }

    input {
      background: #444;
      padding: 0.5rem;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      width: 95%;
      margin-top: 0.4rem;
      outline: 0;
      border: 0;
      color: #fff;
      transition: left 1s ease;
      font-size: 1.05rem;
      &:hover,
      &:focus {
        border: 0.5px solid #222;
        border-bottom: 2px solid #222;
      }
    }
  }
  .search__results {
    text-align: center;
    background: #444;
    width: 95%;
    margin: auto;
    padding: 0.5rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    .search__details {
      @include flexBox(left, center);
      text-align: left;
      gap: 0.5rem;
      border-radius: 0.4rem;
      background-color: rgb(238, 237, 237);
      border: 0.5px solid $mainColor;
      color: #444;
      padding: 0.3rem;
      z-index: 10000000;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 0.4rem;
      cursor: pointer;
    }
    img {
      width: 50px;
      height: 50px;
    }
    a {
      text-decoration: none;
      color: initial;
    }
  }
  .hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1.8;
    font-weight: 700;
    max-width: 640px;
    @include mQ(600px) {
      width: max-content;
      max-width: 350px;
    }
    @include mQ(350px) {
      width: max-content;
      max-width: 239px;
    }
    h1 {
      font-size: 2.4rem;
      text-transform: uppercase;
      @include mQ(600px) {
        font-size: 1.55rem;
      }
      @include mQ(350px) {
        font-size: 1.12rem;
      }
    }
    p {
      font-size: 1.5rem;
      @include mQ(600px) {
        font-size: 1.1rem;
      }
      @include mQ(350px) {
        font-size: 0.9rem;
      }
    }
    button {
      outline: 0;
      border: 0;
      margin-top: 1rem;
      background: transparent;
      border: 2px solid $mainColor;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      border-radius: 0.5rem;
      padding: 0.8rem 1.4rem;
      cursor: pointer;
    }
  }
}
