@import "../../styles/colors";
@import "../../styles/mixins";

.navlinks {
  background: $mainColor;
  color: #fff;
  padding: 1rem 0;
  @include mQ(600px) {
    width: 100%;
  }
  ul {
    @include flexBox(center, center);
    gap: 2rem;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
    .search__icon {
      display: none;
      color: #fff;
      @include mQ(600px) {
        display: block;
      }
    }
  }
}
