@import "../../styles/mixins";
@import "../../styles/colors";

.book_detail {
  @include container();
  padding-top: 1rem;
  display: flex;
  img {
    border-radius: 0.3rem;
  }
  .left__section {
    flex: 3;
    .book__img {
      width: 90%;
      height: 300px;
      object-fit: cover;
    }
    .user__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .added__by {
      padding-top: 0.8rem;
      @include flexBox(left, center);
      gap: 0.5rem;
      .user {
        :last-child {
          color: rgb(97, 97, 97);
        }
      }
      .actions {
        cursor: pointer;
        margin-left: 2rem;
        .edit {
          color: rgb(118, 185, 159);
          font-size: 1.8rem;
        }
        .delete {
          color: rgba(255, 0, 123, 0.461);
          font-size: 1.6rem;
        }
      }
    }
    .book__details {
      padding-top: 1.5rem;
      width: 90%;
      :nth-child(2),
      :nth-child(3) {
        b {
          color: $mainColor;
          margin-bottom: 0.6rem;
        }
      }
      :last-child {
        color: #555;
        padding-top: 0.7rem;
      }
    }
    .comments__container {
      width: 90%;
    }
  }
  .right__section {
    flex: 1;
    h3 {
      padding-bottom: 1rem;
      color: $mainColor;
    }
    a {
      color: #000;
      text-decoration: none;
    }
    .similar {
      padding-bottom: 1.5rem;
      .s_book__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      :last-child {
        padding-bottom: 0.3rem;
        border-bottom: 0.5px solid $mainColor;
      }
    }
    b {
      font-weight: 600;
    }
  }
}
