@import "../../styles/mixins";
@import "../../styles/colors";

.book_detail {
  @include container();
  padding-top: 1rem;
  display: flex;
  @include mQ(900px) {
    display: block;
  }
  img {
    border-radius: 0.3rem;
  }
  .left__section {
    flex: 3;
    @include mQ(900px) {
      flex: none;
    }
    @include mQ(600px) {
      h2 {
        font-size: 1.14rem;
      }
    }
    a {
      position: relative;

      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
      }
    }

    .book__img {
      width: 90%;
      height: 300px;
      object-fit: cover;
      position: relative;
      @include mQ(900px) {
        width: 100%;
      }
    }
    .pdate {
      font-style: italic;
      color: rgb(162, 162, 162);
      font-size: 0.9rem;
      margin: 2rem 0;
      @include mQ(800px) {
        font-size: 0.8rem;
      }
    }
    .user__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    .added__by {
      padding-top: 0.8rem;
      @include flexBox(left, center);
      gap: 0.5rem;
      @include mQ(500px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 0.5px solid rgb(216, 216, 216);
      }
      .user {
        :last-child {
          color: rgb(97, 97, 97);
        }
      }
      .actions {
        cursor: pointer;
        margin-left: 2rem;
        .edit {
          color: rgb(118, 185, 159);
          font-size: 1.8rem;
        }
        .delete {
          color: rgba(255, 0, 123, 0.461);
          font-size: 1.6rem;
        }
      }
    }
    .book__details {
      padding-top: 1.5rem;
      width: 90%;
      @include mQ(900px) {
        width: 100%;
      }
      :nth-child(1),
      :nth-child(2) {
        b {
          color: $mainColor;
          margin-bottom: 0.6rem;
        }
      }
      :last-child {
        color: #555;
        padding-top: 0.7rem;
      }
      .purchase__btn {
        outline: 0;
        border: 0;
        margin-top: 1rem;
        background: $mainColor;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 0.5rem;
        padding: 0.4rem 1.4rem;
        cursor: pointer;
        margin: 2rem 0;
      }
    }
    .comments__container {
      width: 90%;
      border-top: 0.5px solid rgb(232, 232, 232);
    }
  }
  .right__section {
    flex: 1;
    @include mQ(900px) {
      flex: none;
      padding-top: 2rem;
      border-top: 0.5px solid rgb(216, 216, 216);
    }
    h2 {
      color: #000;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.3rem;
      margin-bottom: 0.6rem;
    }

    h3 {
      color: $mainColor;
    }
    a {
      color: #000;
      text-decoration: none;
    }
    .similar {
      padding-bottom: 1.5rem;
      .s_book__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      :last-child {
        padding-bottom: 0.3rem;
        border-bottom: 0.5px solid $mainColor;
      }
    }
    b {
      font-weight: 600;
    }
  }
}
